@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Kalnia:wght@400;600&display=swap');
body {
    display: grid;
    grid-template-rows: 0.5fr 5fr 0.5fr;
    padding: 1em;

    background-color: rgb(187, 185, 185);

}