.header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 0.5em;
    padding: 1em;


    &__title {
        grid-template-areas: 4fr;
        text-align: center;
        align-self: center;
        font-size: 2em;
        font-family: 'Kalnia', serif;
        font-weight: 400;

        &--span {
            font-size: 1.5em;
            color: red;
        }

        &--p {
            font-size: 0.8em;
            text-align: right;
            font-style: italic;
            margin-right: 25%;
            font-family: 'Caveat', cursive;
            color: red;

        }
    }

    &__img {
        height: 90%;
        justify-self: center;
        border-radius: 45%;
    }
}